# CR-10
# Board: SKR 1.3 + TMC 2208 Drivers
# Hot end: Phaetus Dragon
# Extruder: Orbiter Extruder

# This file contains common pin mappings for the BIGTREETECH SKR V1.3
# board. To use this config, the firmware should be compiled for the
# LPC1768.

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
#step_distance: .0125
rotation_distance: 40
microsteps: 16
endstop_pin: P1.29  # P1.28 for X-max
position_endstop: 0
position_min: 0
position_max: 300
homing_speed: 70
second_homing_speed:5

[tmc2208 stepper_x]
uart_pin: P1.17
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
#step_distance: .0125
rotation_distance: 40
microsteps: 16
endstop_pin: P1.27  # P1.26 for Y-max
position_endstop: 0
position_min: 0
position_max: 300
homing_speed: 70
second_homing_speed:5

[tmc2208 stepper_y]
uart_pin: P1.15
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
#step_distance: .0025
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_min: -1
position_max: 400
homing_speed: 15
second_homing_speed: 2.5

[safe_z_home]
home_xy_position: 180,150
speed: 100.0
z_hop: 10

[tmc2208 stepper_z]
uart_pin: P1.10
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 30

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
control: pid
pid_kp: 46.674
pid_ki: 0.988
pid_kd: 551.341
min_temp: 0
max_temp: 130

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
#step_distance: .001526717
rotation_distance: 4.89
microsteps: 16
max_extrude_only_distance: 100
max_extrude_cross_section: 50
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#control: pid
#pid_Kp=21.998
#pid_Ki=1.033
#pid_Kd=117.142
min_temp: 0
max_temp: 320
pressure_advance: 0.05

[tmc2208 extruder]
uart_pin: P1.8
run_current: 0.400
hold_current: 0.400
stealthchop_threshold: 5

[fan]
pin: P2.3

[heater_fan my_nozzle_fan]
pin: P2.4

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1FD0000B42941DAF75DEFC59C72000F5-if00

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 7000
#2000
#max_accel_to_decel: 7000
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5.0

[gcode_arcs]

[pause_resume]

[gcode_macro UNLOAD]
gcode:
  SAVE_GCODE_STATE NAME=unload_state
  M117 Unloading...
  G91
  G1 E5.0 F1200
  G1 E-10 F7000
  G1 E-80 F2000
  RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro LOAD]
gcode:
  SAVE_GCODE_STATE NAME=load_state
  M117  Loading...
  G91
  G1 E80 F1500
  G1 E25.0 F1000
  RESTORE_GCODE_STATE NAME=load_state

[gcode_macro G28]
# Only home if needed.
rename_existing: G28.1
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28.1
  {% endif %}

[gcode_macro PREPARE_NOZZLE]
gcode:
    G0 X294 Y40 Z27 F9000; Purge Position
    G0 X295.5 Y0 Z27 F4000 ; Brush
    G0 X297 Y40 Z27 F4000 ; Brush
    G0 X298.5 Y0 Z27 F4000 ; Brush
    G0 X300 Y40 Z27 F4000 ; Brush

[include macros/*.cfg]

[input_shaper]
#pi@klipper:~ $ ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o /tmp/shaper_calibrate_x.png
#Fitted shaper 'zv' frequency = 61.6 Hz (vibrations = 29.3%, smoothing ~= 0.047)
#Fitted shaper 'mzv' frequency = 50.6 Hz (vibrations = 18.0%, smoothing ~= 0.080)
#Fitted shaper 'ei' frequency = 63.6 Hz (vibrations = 15.2%, smoothing ~= 0.080)
#Fitted shaper '2hump_ei' frequency = 61.8 Hz (vibrations = 9.3%, smoothing ~= 0.141)
#Fitted shaper '3hump_ei' frequency = 58.0 Hz (vibrations = 6.3%, smoothing ~= 0.244)
#Recommended shaper is 3hump_ei @ 58.0 Hz
shaper_freq_x: 58
shaper_type_x: 3hump_ei

#pi@klipper:~ $ ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_y_*.csv -o /tmp/shaper_calibrate_y.png
#Fitted shaper 'zv' frequency = 25.4 Hz (vibrations = 35.0%, smoothing ~= 0.239)
#Fitted shaper 'mzv' frequency = 25.0 Hz (vibrations = 21.3%, smoothing ~= 0.326)
#Fitted shaper 'ei' frequency = 31.0 Hz (vibrations = 21.8%, smoothing ~= 0.335)
#Fitted shaper '2hump_ei' frequency = 40.0 Hz (vibrations = 18.2%, smoothing ~= 0.337)
#Fitted shaper '3hump_ei' frequency = 50.0 Hz (vibrations = 17.8%, smoothing ~= 0.328)
#Recommended shaper is 2hump_ei @ 40.0 Hz
shaper_freq_y: 40
shaper_type_y: 2hump_ei

###############################################
##  Probing/Mesh
###############################################

[bltouch]
sensor_pin: P1.25
control_pin: P2.0
stow_on_each_sample: False
probe_with_touch_mode: True
x_offset: -31
y_offset: 2
#z_offset: 2

[force_move]
enable_force_move: True

[bed_mesh]
speed: 175
horizontal_move_z: 4
mesh_min: 5,25
mesh_max: 265,285
probe_count: 5,5
algorithm: bicubic

[screws_tilt_adjust]
screw1: 70,40
screw1_name: front left screw
screw2: 290,40
screw2_name: front right screw
screw3: 290,260
screw3_name: rear right screw
screw4: 70,260
screw4_name: rear left screw
speed: 100
screw_thread: CW-M4

########################################
# Optional LCD configuration
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

## Creality Ender-3 / CR-10 Full Graphic Smart Controller ##

[display]
lcd_type: st7920
cs_pin: P1.19
sclk_pin: P1.21
sid_pin: P1.23
encoder_pins: ^P1.18, ^P1.20
click_pin: !P0.28
#
[output_pin beeper]
pin: P1.30

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150,150,10  # an example

### ADJUSTING PROBE OFFSET:
### To lower nozzle, add to the offset
### To raise nozzle, subtract from the offset

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.235000, 0.177500, 0.185000, 0.245000, 0.260000
#*# 	0.160000, 0.152500, 0.062500, 0.145000, 0.255000
#*# 	0.142500, 0.080000, -0.002500, 0.120000, 0.230000
#*# 	0.227500, 0.187500, 0.055000, 0.157500, 0.235000
#*# 	0.325000, 0.182500, 0.177500, 0.215000, 0.190000
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 25.0
#*# x_count = 5
#*# max_y = 285.0
#*# mesh_x_pps = 2
#*# max_x = 265.0
#*#
#*# [bltouch]
#*# z_offset = 1.200
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.289
#*# pid_ki = 1.159
#*# pid_kd = 117.027
